.main-header {
    display: flex;
    background-color: #AF7AC4;
    border-bottom: 10px solid black;
    justify-content: space-between;
    padding: 10px 20px;
}
/* O px - pixel - no css equivale a 3px */