.main-title{
    font-size: 15px;
    color: #000000;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

.subtitle{
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

.title-skills{
    text-align: center;
    margin-bottom: 100px;
    padding: 20px;
}

.-title-projetos{
    text-align: center;
    margin-bottom: 55px;
    padding: 20px;
}

.-primary{
    text-shadow: 4px 4px 0 #779BF0;
    font-size: 25px;
}

.-second{
    text-shadow: 4px 4px 0 black;
    margin-top: 10px;
}